@import "../main/main.scss";

.ViewSelf{
  @include base-view;
  @include grid-overlay;
  height: 100svh;

  input { text-align: center; }
}

.password-container {
  position: relative;
  display: inline-block;
  width: 100%;

  .toggle-password {
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #666;
    
    &:hover {
      color: #333;
    }
  }
}