@import "../main/main.scss";

.ViewJoin{
    .header-container {
        position: absolute;
        top: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        
        header {
          color: var(--color-light);
          font-size: 1.35em;
        }
    }

    .form-field {
        @include vstack;
        width: 100%;
        align-items: flex-start; // Выравнивание меток по левому краю
    }

    @include base-view;
    @include grid-overlay;
    height: 100svh;
    position: relative;

    @media only screen and (orientation: landscape) and (max-height: 700px) and (max-width: 1200px) {
        height: 100%;
        padding-top: 2.5rem;
    }

    input{ text-align: center; }
    
    .RoomKeyInput{
        @include hstack();
        padding: 0;
        width: 100%;

        input[type='text']{ 
            font-size: 1.2em; 
            width: 1.2em; 
            text-align: safe center; 
            text-transform: capitalize;
            border-radius: 8px;

            &:first-child {
                border-radius: 12px 8px 8px 12px; // Сильное закругление слева
            }
            
            &:last-child {
                border-radius: 8px 12px 12px 8px; // Сильное закругление справа
            }
        }

        width: 100%;
        justify-content: safe center;
        grid-template-columns: repeat(4, 1.5em);
    }
}