@import "../main/mixin.scss";

.ViewJoin{
    @include base-view;
    @include grid-overlay;
    height: 100svh;

    input{ text-align: center; }
    
    .RoomKeyInput{
        @include hstack();
        padding: 0;

        input[type='text']{ 
            font-size: 1.2em; 
            width: 1.2em; 
            // height: 1.5em;
            text-align: safe center; 
            text-transform: capitalize;
            border-radius: 8px;

            &:first-child {
                border-radius: 12px 8px 8px 12px; // Сильное закругление слева
            }
            
            &:last-child {
                border-radius: 8px 12px 12px 8px; // Сильное закругление справа
            }
        }

        width: 100%;
        justify-content: safe center;
        grid-template-columns: repeat(4, 1.5em);
    }
}