.panel-controls-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    z-index: 1000;
    top: 20px;
    left: 20px;
    background: transparent;
}

.buttons-block {
    flex-direction: column;
    border-radius: 12px;
    padding: 8px;
    display: flex;
    gap: 8px;
    border: 2px dashed #B0B0B0;
    box-shadow: 0 4px 20px rgba(36, 36, 36, 0.12);
    width: fit-content;
    backdrop-filter: blur(4px);
}
  
.title-container {
    margin-bottom: 8px;
    width: 100%;

    input {
        backdrop-filter: blur(4px);
        box-shadow: 0 4px 20px rgba(36, 36, 36, 0.12);
        width: 50%;
        padding: 4px 0;
        text-align: center;
        // font-size: 14px;
        border: none;
        outline: none;
        border-bottom: 2px solid var(--color-light);
        background-color: transparent;
        transition: border-bottom 0.2s ease;
        color: var(--color-light);
        
        &:focus {
            outline: none !important;
            outline-offset: 0 !important;
            // color: var(--choice-1-color);
            border-bottom: 2px solid var(--choice-1-color);
        }
    }
}
  
.control-button {
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 12px;
    transition: background 0.2s ease;
    width: 40px;
    height: 40px;
    
    &:hover {
        background: rgba(0, 0, 0, 0.05);
    }
}
  
.file-input {
    display: none;
}