@import "../main/mixin.scss";

.ViewLogin,
.ViewRegister {
  @include view();
  @include grid-overlay();
  height: 100svh;

  .language-switcher {
    position: absolute; //relative
    top: 16px;
    margin-top: -4px;
  }

  .accent{ font-size: 2em; }
  .log,.reg{ color: var(--color-split1); }
  .in, .ister{ color: var(--color-split2); }

  button.big {
    margin-top: 16px;
    height: 2em;
    width: 50%;
  }

  .hstack {
    gap: 0;
    margin-top: 12px;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0; /* Занимает всю область родителя */
    background: 
        linear-gradient(to bottom right, #D7CCAD, transparent),
        radial-gradient(#709B95, transparent),
        linear-gradient(to bottom left, #0FD4CD, transparent),
        linear-gradient(to left, #B0ABD6, transparent),
        linear-gradient(to top right, #DFA4A6, transparent);
    background-blend-mode: screen;
    filter: brightness(0.85) saturate(4);
    pointer-events: none;
  }
}