@import "../main/main.scss";
@import "../main/mixin.scss";

.Play{
    .status{
        @include grid();
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr auto;

        max-width: 20cm;
        box-sizing: content-box;
        padding: var(--def-gap);
        background-color: var(--color-dark);
        color:  var(--color-light);
        width: 100%;
        height: fit-content;
        min-height: 60px;
        border-radius:  0 0 var(--def-border-radius) var(--def-border-radius);
        //position: absolute;
        //top: 0;
        //progress{
        //    flood-color: var(--color-light);
        //    grid-row:  2 / span 1;
        //    grid-column:  1 / span 2;
        //    width: 100%;
        //    height: .3cm;
        //    background-color: var(--color-light);
        //    border-radius: var(--def-border-radius);
        //}

        .progress-bg, .progress-value{
            grid-row:  2 / span 1;
            grid-column:  1 / span 2;
            width: 100%;
            height: .2cm;
            border-radius: var(--def-border-radius);

        }
        .progress-bg{
            background-color: var(--color-light);
            overflow: hidden;
            .progress-value {
                background-color: var(--choice-3-color);
                transition: width 0.3s ease-in-out;
            }
        }

        .id{ font-size: 4em; color: var(--choice-1-color) };
    }
    position: relative;
    width: 100svw; 
    height: 100svh; 
    background-color: rgb(153, 160, 157);
    @include grid();
    padding-top: 0;
    //overflow: scroll;
    grid-template-rows: auto 8fr auto; // - for socket status ;  grid-template-rows: 1fr
    .line{
        justify-content: left;
    }
    .roommates{
        box-sizing: border-box;
        overflow: scroll;
        transition: .5s ease-in-out;
        width: 100%;
        &.hidden{
            width: 0;
        }
    }
    .roommates-counter{
        min-width: 2em;
        min-height: 2em;
    }
    .hscroll{
        width: 100%;
        box-sizing: border-box;
        padding: 8px;
        overflow-x: scroll;
    }
}