@import "../main/mixin.scss";

.QR {
  @include vstack();
  align-items: center;
  //width: 150px;
  //height: 150px;
  padding: var(--def-gap);
  // margin: 8px;
  font-size: 0.7em;
  color: var(--color-grey-inp);

  img{
    width: 150px;
    height: 150px;
  }
  &.small{
    width: 64px;
    padding: 4px;
    img{
      width: 64px;
      height: 64px;
    }
  }

  border-radius: var(--def-border-radius);

  overflow: hidden;
  background: white;

}