@import "../main/mixin.scss";

.ViewLobby{
    @include view();
    @include grid();
    grid-template-rows: 1fr auto auto 1fr;

    .id{ font-size: max( 3em, 12vw); color: var(--color-split1) };
    .text{ font-size: max( 1em, 4vw);  opacity: 20%;}
}